[Unit]
Description=jj10ChkConn-uSysIntChkd.service - User-defined service to monitor Internet connectivity
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/u/bin/jjchkconn-uSysIntChkd.bash
Restart=on-failure

[Install]
WantedBy=default.target
