[Unit]
Description=jjchkconn-uSysIntChkd@%i.service - User-defined service to monitor Internet connectivity
After=network-online.target
StartLimitIntervalSec=60

[Service]
User=%i
Group=%i
Type=simple
ExecStart=/usr/local/u/bin/jjchkconn-uSysIntChkd.bash %i
Restart=always
RestartSec=60
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
