[Unit] 
Description="Run script to send alerts to slack.com"
After=network-online.target
StartLimitIntervalSec=5
StartLimitBurst=3

[Service]
ExecStart=bash /usr/local/u/bin/jjchkconn-fetch-alerts-and-send.bash %i
Restart=on-failure
RestartSec=5
TimeoutStartSec=5

[Install]
#WantedBy=default.target
